.home-header{
	background:url('../images/band-2.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	height:100vh;
	text-align:center;
	.cta{
		@include padding(5% 20% 35px 20%);
		h1{
			color:$white;
			text-shadow: 0 0.125rem 0.313rem rgba( 0, 0, 0, .8 );
		}
		.btn{
			background:$black;
			border:2px solid $black;
			@include margin(null 20px null null);
			&:hover{
				background:rgba( 0, 0, 0, .2 );
				border:2px solid $white;
			}
		}
	}
	@media all and (max-width: 600px) {
		.cta{
			@include padding(20px);
			h1{
				font-size: em(30px);
			}
		}
	}
}

.inner-header{
	background:url('../images/inner-bg.jpg');
	.nav {
		display:block;
		flex-direction: column;
	}
	.logo {
		margin-right: auto;
		order: 0;
		@include padding(0px);
		text-align: center;
		width: 150px;
	}
}