nav {
  @include align-items(center);
  @include display(flex);
  @include justify-content(center);
}

.logo {
  order: 1;
  @include padding(24px);
}

.item {
  color: $white;
  font-size: em(18);
  font-weight:bold;
  letter-spacing: 0.2em;
  @include padding(24px);
  text-decoration: none;
  text-shadow: 0 0.125rem 0.313rem rgba( 0, 0, 0, .3 );
  text-transform: uppercase;
  &:hover, &:active, &:focus{
    color:$light-grey;
    text-decoration: none;
  }
}

.item:nth-of-type(n+3) {
  order: 2;
}

@media all and (max-width: 800px) {
  .nav {
    display:block;
    flex-direction: column;
  }

  .logo {
    order: 0;
    text-align: center;
    width: 100px;
  }
  
  .item {
    text-align: center;
  }
}

@media all and (max-width: 600px) {
  nav {
    display: block;
    text-align: center;
    @include padding(null null 30px null);
  }

  .logo {
    margin:0 auto; 
    width: 200px;
  }

  .item {
    padding:10px;
  }
}

@media all and (max-width: 400px) {
  .item {
    padding:5px;
  }
}