<!-- Delcare header -->
<div inner-nav></div>

<!-- Start container -->
<div class="container inner">

    <!-- Page title -->
	<h2>{{ title }}</h2>
    <!-- Page title -->

    <!-- Filter by location - using Angular filter directive -->
	Search By Location
	<input type="text" ng-model="location">
    <!-- /Filter by location -->
	
	<!-- ng-repeat showing up coming show data -->
	<div ng-repeat="gig in filteredData = (siteContent.gigs | filter:location)">

		<div class="gig-item">
			<div class="date col-md-2 col-sm-2">
				{{ gig.date | date:'mediumDate' }}
			</div>
			<div class="meta col-md-5 col-sm-5">
				{{ gig.address }}
				{{ gig.venue }}
			</div>
			<div class="price col-md-3 col-sm-3">
				{{ gig.price | currency:'€'}}
			</div>
			<div class="ticket col-md-2 col-sm-2">
				<a href="{{ gig.ticket }}" class="btn">Buy <span>Ticket</span></a>
			</div>
		</div>
	</div>
	<!-- /ng-repeat showing up coming show data -->
	
	<!-- Only show if no results found after filter -->
	<div class="col-md-12 no-gigs" ng-show="filteredData.length==0">No upcoming gigs in your area <br/>Check back soon for updated gig info</p>


</div>
<!-- End container -->